@model Rate

<h3>Choose date</h3>

Please enter date in format YYYYMMDD

@using (Html.BeginForm("Calculations", "Home", FormMethod.Post))
{


    <input type="date" name="datestring" />
    <input type="submit" value="Submit" />
} 