@model Rate

<h3>Choose date</h3>

Please enter date in format YYYYMMDD

@using (Html.BeginForm("Calculations", "Home", FormMethod.Post))
{


@Html.TextBoxFor(a => a.DateChosen)
    <input type="submit" value="Submit"/>
} 